#consulting-services, #our_technology_stack, #ourProcess, footer{
    position: relative;
    top: 3rem;
}
.btn-light:hover, .btn-light:focus{
    box-shadow: none !important;
}
.btn:active:focus{
    box-shadow: none !important;
}

.btn:focus{
    background-color: #008060 !important;
}

ul#codeEditorTab{
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1.5rem;
}

ul#codeEditorTab a img {
    width: 4rem;
    height: 2rem;
}

.side-by-side{
    display: flex;
    gap: 1rem;
}

.content-spacing{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

button[data-tf-popup]::selection{
    color: #f1b980;
}