:root{
    --bs-orange: #f1b980;
}


html{
    scroll-behavior: smooth !important;
}

#what_we_do, #pricing, footer, #why_work_with_us, #how_we_do_it{
    position: relative;
    top: 4rem;
}

#what_we_do h2{
    text-transform: uppercase;
}

#what_we_do div.content-space-1{
    padding-top: 0 !important;
}

#what_we_do div.content-space-1 h3{
    color: var(--bs-orange);
}

ul#codeEditorTab a img {
    width: 4rem;
    height: 2rem;
}

#FAQ {
    position: relative;
    top: 3rem;
}

.accordion-body {
    line-height: 2rem;
  }

  .accordion-body, .accordion-button{
    background-color: white !important;
  }

  .accordion-button:focus {
    z-index:3;
    outline:0;
    box-shadow: 0 0 0 0.1rem #e5e8e8;
  }

  .accordion-item {
    border: 0.0625rem solid rgb(0, 34, 28, 0.1) !important;
  }

  .accordion-item:first-of-type {
    border-top-left-radius: 0.3125rem !important; 
    border-top-right-radius: 0.3125rem !important;
  }

  .accordion-item:not(:first-of-type) {
    border-top: 0 !important;
  }

  .accordion-item:last-of-type {
    border-bottom-right-radius: 0.3125rem !important; 
    border-bottom-left-radius: 0.3125rem !important; 
  }

  .highlight{
    background: rgba(135,131,120,0.15);
    color: #EB5757;
    border-radius: 3px;
    padding: 0.2em 0.4em;
  }

  .flex-mobile{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  /* Start Media Queries */
  @media only screen and (width: 820px){
    span.text-cap, div.flex-grow-1.ms-sm-5 h5{
      font-size: 80%;
    }
    
  }

  @media only screen and (max-width: 767px){
    div#navbarNavAltMarkup{
      width: 100%;
    }
  }