/* This styling applies for the code generator page */

:root {
    --bs-body-background-color: #fef8f2;
    --window-border-radius: 0.25rem;
    --lower-code-window-background-color: #f1f2f2;
}

body {
    background-color: var(--bs-body-background-color);
    overflow-y: auto !important;
    box-sizing: border-box !important;
}

nav.navbar {
    width: 90vw;
}

.display-flex {
    display: flex;
    gap: 2rem;
    align-items: center;
}

#generatorContainer {
    padding-top: 8rem;
}

#generatorSection {
    width: 45%;
    max-width: max-content;
    padding-bottom: 1rem !important;
}

#codeSectionContainer {
    width: 45%;
    max-width: 45%;
    max-height: max-content;
}

#codeSection {
    font-weight: bold;
    line-height: 2;
}

.upper_window {
    border: 1px solid gray;
}

.lower_window {
    border: 1px solid gray;
    border-top: 0px;
}

.upper_window {
    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);
    background-color: var(--lower-code-window-background-color);
}

.lower_window {
    border-bottom-left-radius: var(--window-border-radius);
    border-bottom-right-radius: var(--window-border-radius);
    padding: 1rem;
    background-color: var(--lower-code-window-background-color);
}

.upper_window p {
    padding-top: 1rem;
    padding-left: 1rem;
}

.indent {
    margin-left: 1.5rem;
}

.indent-nested {
    margin-left: 1.5rem;
}

.flex_row {
    display: flex;
    justify-content: space-between;
}

.radio_align {
    display: table-cell;
    vertical-align: middle;
}

#custom_event_name_parameters_div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.remove {
    display: block;
    position: relative;
    top: 0.3rem;
}

.lower_window {
    word-wrap: break-word;
}

/* Begin responsiveness */

@media only screen and (max-width: 810px) {

    #generatorSection,
    #codeSectionContainer {
        width: 80%;
    }

    #codeSectionContainer {
        max-width: 80%;
    }

    .display-flex {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }

    .flex_row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: max-content;
    }

    div.d-grid.mb-2 button {
        max-width: 100% !important;
    }

    div.content-space-1 {
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }

    div.content-space-1.code_window {
        padding-bottom: 4rem !important;
    }
}

@media only screen and (min-width: 1080px) and (max-width: 1112px) {
    .code_window {
        position: relative;
        right: 1rem;
    }
}

@media only screen and (min-width: 820px) and (max-width:1080px) {
    button[type="submit"] {
        max-width: 55% !important;
    }
}

@media only screen and (min-width: 1280px) {
    .code_window {
        position: relative;
        right: 1rem;
    }
}

@media only screen and (min-width: 1440px) {
    .code_window {
        position: relative;
        right: 4rem;
    }
}

@media only screen and (min-width: 820px) {
    footer {
        position: relative;
        top: 5rem;
    }
}

@media only screen and (width: 1024px) {
    footer {
        position: relative;
        top: 10rem;
    }
}

@media only screen and (orientation: portrait) and (min-width: 1024px) {
    body {
        overflow: hidden;
        box-sizing: border-box !important;
    }
}