/* This styling applies for the code generator page */

:root {
    --bs-body-background-color: #fef8f2;
}

body {
    height: 100vh;
    background-color: var(--bs-body-background-color);
    overflow-y: auto;
    
}

.display-flex {
    display: flex;
    gap: 2rem;
}

#generatorContainer {
    padding-top: 8rem;
}

#generatorSection, #codeSection {
    width: 45%;
    max-width: 45%;
}

#codeSection {
    font-weight: bold;
}

.indent{
    margin-left: 0.5rem;
}

.indent-nested {
    margin-left: 1.5rem;
}

.flex_row{
    display: flex;
    justify-content: space-between;
}

.radio_align{
    display: table-cell;
    vertical-align: middle;
}