@charset "UTF-8";

#header-content {
    min-height: 100vh;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row !important;
}

.space-between {
    justify-content: space-between;
}

.navbar-nav {
    width: 100%;
}

.flex-menu {
    display: flex;
    justify-content: center;
    padding-top: 2rem !important;
}

.navbar-absolute-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  nav.navbar {
    width: 80vw;
  }

  ul.navbar-nav {
    justify-content: space-around !important;
  }

  .padding-top {
    padding-top: 9rem !important;
  }

  .max-height-set {
    max-height: 60vh;
  }

  @media only screen and (min-width: 992px) {
    div.w-lg-75 {
        width: 85% !important;
    }
  }
  
  
  @media only screen and (max-width:810px) {
    html, body {
        overflow-x: hidden;
    }

    body {
        position: relative;
    }
    
    #header-content {
        min-height: 65vh;
    }
    .navbar {
        min-width: 80%;
    }
    .flex-menu {
        justify-content: center;
    }
    ul.navbar-nav {
        height: 100%;
        gap: 4rem;
        justify-content: flex-start !important;
        background-color: #fef8f2;

    }
    .navbar-expand-lg .navbar-nav {
        padding: 4rem 4rem;
    }
}

  @media only screen and (max-width: 576px) {
    .flex {
        display: flex;
        flex-direction: column !important;
        gap: 10px;
    }
    .offcanvas {
        max-width: 60%;
    }
}

@media only screen and (min-width: 576px) and (max-width:810px) {
    .max-height-set {
        max-height: 55vh;
    }
}